*/config/development
*/config/database.php
*/config/config.php
*/installer/*
*/installer_old/*
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
sftp-config.json
.svn*
installer/
.idea