# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

assets/css/bootstrap-responsive.css linguist-vendored
assets/css/bootstrap-responsive.min.css linguist-vendored
assets/css/bootstrap.css linguist-vendored
assets/js/ace/* linguist-vendored
assets/js/bootstrap.min.js linguist-vendored
assets/js/jquery.dataTables.js linguist-vendored
assets/js/jquery.dataTables.min.js linguist-vendored
assets/js/jquery.js linguist-vendored
assets/tablesorter/* linguist-vendored